body {
  background: #f4f6f9;
}

.app-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.status-underweight {
  color: rgb(74, 74, 169) !important;
  font-weight: bold;
}

.status-normal {
  color: green !important;
  font-weight: bold;
}

.status-overweight {
  color: orange !important;
  font-weight: bold;
}

.status-obese {
  color: red !important;
  font-weight: bold;
}